<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desempenho</title>
    <!-- IMPORTANDO FONTE -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- LINK DO BOOTSTRAP - CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- LINK DO BOOTSTRAP - JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/f7e0800341.js"
      crossorigin="anonymous"
    ></script>
    <!-- CSS Nativo -->
    <link rel="stylesheet" href="../www/templates/desempenho.css" />
  </head>
  <body>
    <!-- NAVBAR - Início -->
    <header>
      <div class="container-navbar">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="./index.html">ProCX</a>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- NAVBAR - Fim -->

    <!-- CONTEÚDO - Início -->
    <main>
      <!-- BOTÃO VOLTAR - Início -->
      <div class="container">
        <div class="col-12 voltar">
          <button>
            <a href="./perfil.html"><i class="fas fa-arrow-left"></i>Voltar</a>
          </button>
        </div>
      </div>
      <!-- BOTÃO VOLTAR - Fim -->

      <!-- CONTEÚDO DICAS - Início -->
      <div class="dicas">
        <h3>Dicas para melhorar seu rendimento:</h3>
        <div class="listagem">
          <ul>
            <li>Separe seu tempo em blocos, e determine tarefas para fazer nesses horários (Procure sobre <strong>Técnica Pomodoro</strong>).</li>
            <li>Foque sua atenção a <strong>concluir um passo de cada vez</strong> e não veja apenas o grande desafio final.</li>
            <li><strong>Crie hábitos</strong> em seu dia a dia para não procrastinar.</li>
            <li>Misture em seus horários atividades que você <strong>gosta de fazer</strong>, e outras que nem tanto.</li>
            <li>Procure <strong>planejar os seus horários</strong> de maneira mais objetiva, priorizando o mais importante para ser feito em um tempo mais curto</li>
            <li>É interessante <strong>pedir ajuda à amigos</strong> quando estiverem sentido que precisam de uma "mãozinha" para não procrastinar.</li>
          </ul>
        </div>
      </div>

      <!-- CONTEÚDO DICAS - Início -->
    </main>
    <!-- CONTEÚDO - Fim -->
  </body>
</html>
