<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROCX</title>
    <!-- LINK DO BOOTSTRAP - CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- LINK DO BOOTSTRAP - JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <!-- CSS ORIGINAL -->
    <link rel="stylesheet" href="../www/templates/main.css" />
    <link rel="stylesheet" href="../www/templates/login.css" />
    <!-- SCRIPT ORIGINAL -->
    <script src="../www/templates/index.js"></script>
    <!-- IMPORTANDO FONTE -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR - Início -->
    <div class="container-navbar">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">ProCX</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link" href="./index.html">Home</a>
                <a class="nav-link" href="./contato.html">Equipe</a>
                <a class="nav-link ologin active" aria-current="page" href="./login.html">Login</a>
                <a class="nav-link" onclick="openLoginForm2()" href="#">Cadastrar</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- NAVBAR - Fim -->

    <!-- TELA LOGIN - Início -->
    <div class="login">
      <div class="container">
        <form method="#" class="box">
            <h1>Login</h1>
            <input type="text" name="" id="txt_login_email" placeholder="Email">
            <input type="password" name="" id="txt_login_senha" placeholder="Senha">
            <button type="button" onclick="login()" name="" value="Login">Entrar</button>
        </form>
      </div>
    </div>
    <!-- TELA LOGIN - Fim -->
    <!-- Modal Cadastro - Início -->
    <div class="popup-overlay"></div>
    <div class="popup">
      <div class="popup-close" onclick="closeLoginForm()">&times;</div>
      <div class="form">
        <div class="header">Cadastro</div>
        <div class="element">
          <label for="senha">Nome</label>
          <input type="#" id="txt_nome" />
        </div>
        <div class="element">
          <label for="email">Email</label>
          <input type="text" id="txt_email" />
        </div>
        <div class="element">
          <label for="senha">Senha</label>
          <input type="password" id="txt_senha" />
        </div>
        <div class="element selecao">
          <label for="selecao">UF</label>
          <select name="#" id="select_uf" class="selector" onchange="getCities(event)">
            
          </select>
        </div>
        <div class="element selecao">  
          <label for="selecao">Cidade</label>
          <select name="#" id="select_city" class="selector" onchange="setUf(event)">
            <option value="#" id="selecao">Selecione a UF</option>
            
          </select>
        </div>  
        <div class="element">
          <button onclick="cadastrar()">Cadastrar</button>
        </div>
      </div>
    </div>
    <!-- Modal Cadastro - Fim -->
  </body>
  <script src="../www/scripts/login.js"></script>
  <script src="../www/scripts/cadastro.js"></script>
</html>
