<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alterar perfil</title>
    <!-- IMPORTANDO FONTE -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <!-- LINK DO BOOTSTRAP - CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- LINK DO BOOTSTRAP - JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <!-- FONTAWESOME -->
    <script
      src="https://kit.fontawesome.com/f7e0800341.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="../../resources/www/templates/alterarperfil.css" />
  </head>
  <body>
      <!-- NAVBAR - Início -->
    <header>
      <div class="container-navbar">
        <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="./index.html">ProCX</a>
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- NAVBAR - Fim -->

    <!-- BLOCO ALTERAR PERFIL - Início -->
    <main>
      <div class="container">
        <div class="col-12 voltar">
          <button>
            <a href="./perfil.html"><i class="fas fa-arrow-left"></i>Voltar</a>
          </button>
        </div>
        <div class="row">
          <div class="ti">
            <h1 class="titulo">ALTERAR PERFIL</h1>
          </div>

          <div class="col-12 alterar-perfil">
            <div class="row linha">
              <div class="col-12 col-sm-5">
                <label for="">Nome</label>
                <input id="txt_nome" type="text" />
              </div>
              <div class="col-12 col-sm-5">
                <label for="">Email</label>
                <input id="txt_email" type="email" />
              </div>
            </div>
            <div class="row linha">
              <div class="col-12 col-sm-5">
                <label for="">UF</label>
                <input name="" id="txt_uf" disabled="disabled" class="disabled"></select>
              </div>
              <div class="col-12 col-sm-5">
                <label for="">Cidade</label>
                <input name="" id="txt_city" disabled="disabled" class="disabled"></select>
              </div>
            </div>
            <div class="row linhaSenha">
              <div class="col-12 col-sm-5">
                <label for="">Senha</label>
                <input id="txt_senha" type="password" />
              </div>
            </div>
            <div class="row linha">
              <div class="col-12 col-sm-5">
                <button>Cancelar</button>
              </div>
              <div class="col-12 col-sm-5">
                <button id="alterar">Alterar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- BLOCO ALTERAR PERFIL - Fim -->
	<script src="../www/scripts/alterar.js"></script>
  </body>
</html>
