<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PROCX</title>
    <!-- LINK DO BOOTSTRAP - CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <!-- LINK DO BOOTSTRAP - JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <!-- AOS (BIBLIOTECA) - CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- CSS ORIGINAL -->
    <link rel="stylesheet" href="../www/templates/main.css" />
    <link rel="stylesheet" href="../www/templates/scroll.css" />
    <!-- SCRIPT ORIGINAL -->
    <script src="../www/templates/index.js"></script>
    <!-- IMPORTANTO FONTE -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- NAVBAR - Início -->
    <div class="container-navbar">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container-fluid">
            <a class="navbar-brand" href="./index.html">ProCX</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="./index.html">Home</a>
                <a class="nav-link" href="./login.html">Perfil</a>
                <a class="nav-link" href="./contato.html">Equipe</a>
                <a class="nav-link ologin" href="./login.html">Login</a>
                <a class="nav-link" onclick="openLoginForm2()" href="#">Cadastrar</a>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- NAVBAR - Fim -->

    <!-- CONTEÚDO Procrastinação - Início -->
    <div class="conteudoProc">
      <div class="container">
        <div class="row">
          <div class="col-12 tituloCima">
            <h1 class="titulo">Procrastinar</h1>
          </div>
        </div>
        <div class="row acima">
          <div class="col-12 col-lg-6 texto">
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore
              amet reprehenderit, inventore rem sapiente optio accusamus hic.
              Odit suscipit est vitae dolorem ipsam quis facilis, reiciendis eos
              quae temporibus sit optio vel voluptates soluta fuga nam
              obcaecati. Assumenda, a expedita molestias illo in, fuga,
              excepturi fugiat porro beatae nam rerum?
            </p>
          </div>
          <hr class="separador" />
          <div class="col-12 col-lg-5 img">
            <img
              src="../www/images/localDistrator.jpg"
              class="img-fluid"
              alt="Imagem de um ambiente distrator"
              title="Imagem gratuita retirada do site pexels.com"
            />
          </div>
        </div>
      </div>
      <div class="hero">
        <a href="#" class="scroll-down">
          <div class="mouse">
            <span></span>
          </div>
          <div class="arrow">
            <span></span>
          </div>
        </a>
      </div>
    </div>
    <!-- CONTEÚDO Procrastinação - Fim -->

    <!-- CONTEÚDO Solução - Início -->
    <div class="conteudoSolucao">
      <div class="container">
        <div class="row">
          <div class="col-12 tituloCima">
            <h1 class="titulo">Nossa Solução</h1>
          </div>
        </div>
        <div class="row divAcima">
          <div class="col-12 col-lg-6 texto">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus deleniti sunt ducimus aliquam delectus officia, illo
              nulla? Numquam aliquid necessitatibus, optio, vero temporibus
              magnam excepturi eaque, alias suscipit nemo mollitia!
            </p>
          </div>
          <div
            class="col-12 col-lg-5 img"
            data-aos="fade-up-right"
            data-aos-duration="4000"
          >
            <img
              src="../www/images/localDistrator.jpg"
              class="img-fluid"
              alt="Placeholder"
              title="Imagem gratuita retirada do site pexels.com"
            />
          </div>
        </div>
        <hr />
        <div class="row divAcima">
          <div
            class="col-12 col-lg-4 imgEsquerda"
            data-aos="fade-up-right"
            data-aos-duration="4000"
          >
            <img
              src="../www/images/localDistrator.jpg"
              class="img-fluid"
              alt="Placeholder"
              title="Imagem gratuita retirada do site pexels.com"
            />
          </div>
          <div class="col-12 col-lg-6 textoDireita">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repellendus deleniti sunt ducimus aliquam delectus officia, illo
              nulla? Numquam aliquid necessitatibus, optio, vero temporibus
              magnam excepturi eaque, alias suscipit nemo mollitia!
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTEÚDO Solução - Fim -->

    <!-- CONTÉUDO Final - Início -->

    <div class="conteudoFinal">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Que tal testar nossa ferramenta?</h2>
          </div>
          <div>
            <button class="btnModal" onclick="openLoginForm()">Bora lá!</button>
          </div>
        </div>
      </div>
    </div>
    <!-- CONTÉUDO Final - Fim -->

    <!-- Modal Cadastro - Início -->
    <div class="popup-overlay"></div>
    <div class="popup">
      <div class="popup-close" onclick="closeLoginForm()">&times;</div>
      <div class="form">
        <div class="header">Cadastro</div>
        <div class="element">
          <label for="email">Email</label>
          <input type="text" id="email" />
        </div>
        <div class="element">
          <label for="senha">Senha</label>
          <input type="password" id="senha" />
        </div>
        <div class="element">
          <a href="./login.html"><button>Cadastrar</button></a>
        </div>
      </div>
    </div>
    <!-- Modal Cadastro - Fim -->

    <!-- FOOTER - Início -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 textoFooter">
            <p>
              Copyright &copy; Todos os direitos reservados ProCX (Marca
              fictícia) - 2021
            </p>
          </div>
        </div>
      </div>
    </footer>
    <!-- FOOTER - Fim -->
    <!-- AOS (Biblioteca) - SCRIPT -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
