/* ROOT */
:root{
    --mint-cream: #F1FFFA;
    --tea-green: #CCFCCB;
    --celadon: #96E6B3;
    -middle-green: #568259;
    --ebony: #464E47;
    --cinza-escuro: #353839;
}


/* GLOBAL */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--mint-cream);
}

/* NAVBAR - Início */

.container-navbar{
    background: var(--celadon);
    font-weight: normal;
    justify-content: space-between;
}

.navbar{
    background: var(--celadon);
    display: flex;
    justify-content: center;
}

.ologin{
    margin-left: 150px;
}

.nav-link:hover{
    background: var(--tea-green);
    color: black;
}

.nav-link a:focus{
    color: var(--cinza-escuro);
}

.navbar-nav .active{
    border-bottom: 2px solid brown;
}

.container-fluid .navbar-brand{
    margin-right: 25%;
    padding: 20px;
    color: var(--tea-green) !important;
    text-decoration: none;
    background: var(--ebony);
}
.container-fluid .navbar-brand:hover{
    color: var(--tea-green);
}

.nav-link, .nav-link a{
    padding: 10px;
    color: var(--cinza-escuro);
    text-decoration: none;
    font-size: 1.3rem;
}

/* NAVBAR - Fim */

/* CONTEÚDO - Início */

/* Conteúdo: Procrastinação */

.conteudoProc{
    height: calc(100vh - 86px);
    background-image: url(../images/3433814.jpg);
}

.tituloCima{
    display: flex;
    justify-content: center;
}

.titulo{
    margin: 5% 0;
    font-weight: bold;
}


.divAcima{
    display: flex;
    justify-content: center;
}

.acima{
    display: flex;
    justify-content: center;
}

.texto{
    font-size: 1.5rem;
    border-right: 1px solid black;
}

.separador{
    display: none;
}

/* Conteúdo: Solução */

.conteudoSolucao{
    height: 100vh;
    background: #d5e0dd;
}

.textoDireita{
    border-left: 1px solid black;
    font-size: 1.5rem;
}


/* Conteúdo: Final */

.conteudoFinal{
    height: calc(100vh - 86px);
    background-image: url(../images/3433814.jpg);
}

.conteudoFinal h2{
    margin-top: 20%;
    font-weight: bold; 
    text-align: center;
    font-size: 5rem;
}


.btnModal{
    position: absolute;
    padding: 1em 1.5em;
    background: var(--celadon);
    text-decoration: none;
    color: var(--cinza-escuro);
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    left: 50%;
    transform: translateX(-50%);
    border: none;
}
.btnModal:hover{
    color: black;
    background: #436446;
}

/* CONTEÚDO - Fim */

/* MODAL CADASTRO - Início */
.popup-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0,0,0,0.5);
    display: none;
}

.popup{
    position: absolute;
    top: -150%; /* 250% */
    left: 50%;
    transform: translate(-50%, -50%) scale(1.15);
    width: 500px;
    height: 540px;
    background: #f5f5f5;
    z-index: 2;
    box-shadow: 5px 5px 3px rgba(0,0,0,0.2);
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.selecao{
    display: inline-block;
}

.selector{
    display: block;
    width: 190px;
}

body.showLoginForm .popup-overlay{
    display: block;
}
body.showLoginForm .popup{
    top: 250%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

body.showLoginForm2 .popup-overlay{
    display: block;
}
body.showLoginForm2 .popup{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.popup .popup-close{
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    background: #555;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}

.popup .form .header{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: #222;
    margin: 20px 0px;
}

.popup .form .element{
    padding: 8px 20px;
}

.popup .form .element label{
    display: block;
    font-size: 14px;
    color: #222;
    margin-bottom: 5px;
}

.popup .form .element input{
    width: 100%;
    padding: 8px 10px;
    outline: none;
    border: 1px solid #aaa;
    background: #eee;
    border-radius: 5px;
}

.popup .form .element button{
    margin-top: 5px;
    width: 100%;
    padding: 10px 0px;
    text-transform: uppercase;
    outline: none;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 5px;
    background: #4889da;
    color: #f5f5f5;
}
/* MODAL CADASTRO - Fim */

/* FOOTER - Início */

.footer{
    width: 99.4vw;
    height: 86px;
    background: var(--ebony);
 
}

.textoFooter{
    width: 100%;
    margin-top: 2.5%;
    color: #F1FFFA;
    /* padding: 0 20%; */

}

.textoFooter p{
    text-align: center;
}
/* FOOTER - Fim */



/* RESPONSIVIDADE */
@media screen and (max-width: 1440px) {
    .texto{
        font-size: 1.3rem;
    }
    .textoDireita{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 1200px) {
    .conteudoFinal h2{
        font-size: 3.5rem;
    }
    .btnModal{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 991px) {
    .texto{
        border-right: none;
        font-size: 1.3rem;
    }
    .textoDireita{
        border: none;
    }
    .imgEsquerda{
        display: none;
    }
    .separador{
        display: inline;
        
    }
    .img{
        width: 80%;
    }
    .conteudoFinal h2{
        font-size: 3rem;
    }
    .btnModal{
        font-size: 1.2rem;
    }
    .ologin{
        margin: 0;
    }
    
}


@media screen and (max-width: 780px) and (max-height: 1024px) {
    .texto{
        font-size: 1.5rem;
    }
    .textoDireita{
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 540px) and (max-height: 720px) {
    .texto{
        font-size: 1rem;
    }
    .textoDireita{
        font-size: 1rem;
    }
}

@media screen and (max-width: 580px) {
    .popup{
        width: 380px;
    }
}

@media screen and (max-width: 530px) {
    .conteudoFinal h2{
        font-size: 2.5rem;
    }
    .textoDireita{
        font-size: 1.2rem;
    }

}
@media screen and (max-width: 440px) {
    .texto{
        font-size: 1rem;
    }
    .acima p{
        font-size: 1rem;
    }
    .textoDireita{
        font-size: 1rem;
    }
    .popup{
        width: 280px;
    }
    .popup .form .element {
        width: 280px;
    }
}
@media screen and (max-width: 336px) {
    .popup{
        width: 250px;
    }
    .popup .form .element {
        width: 250px;
    }
    .popup .popup-close{
        right: -8px;
    }
}
@media screen and (max-width: 320px) and (max-height: 653px) {
    .conteudoSolucao{
        height: 680px;
    }
}
@media screen and (max-width: 300px) {
    .popup{
        width: 220px;
    }
    .popup .form .element {
        width: 220px;
    }
    .popup .popup-close{
        right: -5px;
    }
}